#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './Makefile.am',
		 './configure.ac',
		 './install/rpm/ns-sli.spec',
		 './tests.config',
		 './tests/specifications/version.t',
		 './tests/tests.config',
		 './src/sim/sim_main.c',
		 './src/sim/sim_version.h',
		 './doxygen.cfg',
		],
       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  micro => '0',
		  minor => '0',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => 'ns-sli',
		 },
      };

return $config;

