#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './Makefile.am',
		 './configure.ac',
		 './tests.config',
		 './tests/specifications/version.t',
		 './tests/tests.config',
		 './src/sim/sim_main.c',
		 './doxygen.cfg',
		],
       labels => {
		  email => '',
		  label => '',
		  major => '',
		  micro => '',
		  minor => '',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => '',
		 },
      };

return $config;

