#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"$Project$\";"$
my $package_name = "ns-genesis-SLI";

# $Format: "my $package_version = \"$ProjectVersion$\";"$
my $package_version = "0.1";


my $config
    = {
       core_directory => '../',
       description => 'Configure the tester when run from this directory',
       outputs_dir => './html',
       package => {
		   name => $package_name,
		   version => $package_version,
		  },

       tests_directory => './specifications',
      };


return $config;


